.sidebar {
  grid-area: sidebar;
  list-style-type: none;
}

.sidebar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
  padding: 10px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar li span:first-of-type {
  min-width: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar li span:nth-of-type(3) {
  margin-left: auto;
}

.sidebar .sidebar_submenu {
  background-color: #e3e3e3;
  padding: 10px 0px;
}
/*# sourceMappingURL=Sidebar.css.map */