.mainheader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.mainheader div {
  display: inline-block;
}

.mainheader button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 18px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-left: 15px;
}

.mainheader label {
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.mainheader label:first-of-type {
  border: 2px solid teal;
}

.mainheader label:last-of-type {
  margin-left: 15px;
  border: 2px solid teal;
  background-color: teal;
  color: white;
}

.mainheader .collection_batch_extra {
  position: absolute;
  z-index: 1300;
  top: 0;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainheader .collection_batch_extra .collection_batch_upload_page {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0 0 10px 10px;
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: White;
}

.mainheader .collection_batch_extra .collection_batch_upload_page svg {
  height: 200px;
  width: auto;
  opacity: .25;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_header {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  background-color: #f4f6f8;
  border-bottom: 1px solid #dddddd;
  font-size: 16px;
  font-weight: bold;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main div hr {
  width: 100px;
  margin: 0 5px;
  border-color: #dddddd;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main div button {
  font-size: 18px;
  background-color: #f1f1f1;
  border: 2px solid #dddddd;
  padding: 2px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  margin: 0;
  opacity: .5;
  color: black;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main div button span {
  font-weight: bold;
  display: block;
  font-size: 30px;
  margin-bottom: 5px;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main div button p {
  font-size: 12px;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main div .collection_batch_upload_page_main_current {
  color: #0a7aff;
  background-color: white;
  border-color: #0a7aff;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main input {
  display: none;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main label {
  font-size: 16px;
  background: #009ec0;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main .collection_batch_upload_page_main_fields {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 45px;
  margin: 0;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main .collection_batch_upload_page_main_fields span {
  width: 330px;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main .collection_batch_upload_page_main_fields p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 300px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  height: 35px;
  border-radius: 5px;
  padding: 0 10px;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main .collection_batch_upload_page_main_fields svg {
  width: 30px;
  height: 20px;
  opacity: 1;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main .collection_batch_upload_page_main_fields select {
  background-color: white;
  width: 300px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  height: 35px;
  border-radius: 5px;
  padding: 0 10px;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main .collection_batch_upload_page_main_fields input {
  display: inline;
  margin: 0 15px;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_main .collection_batch_upload_page_main_fields label {
  background: transparent;
  border-radius: 0;
  cursor: default;
  width: auto;
  height: auto;
  border: none;
  color: gray;
  display: inline;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-style: italic;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_footer {
  width: 100%;
  border-top: 1px solid #dddddd;
  padding: 15px 30px;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_footer button {
  float: right;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #f4f6f8;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.mainheader .collection_batch_extra .collection_batch_upload_page .collection_batch_upload_page_footer .collection_batch_upload_page_footer_import {
  background-color: #009ec0;
  border: 1px solid #009ec0;
  color: #ffffff;
}

.mainheader .collection_batch_extra .collection_batch_filter_page {
  width: 450px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 0 0 22px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 22px 10px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.mainheader .collection_batch_extra .collection_batch_filter_page h6 {
  font-size: 16px;
  font-weight: 800;
  background-color: #f4f6f8;
  height: 70px;
  padding: 24px;
}

.mainheader .collection_batch_extra .collection_batch_filter_page label {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_page_search {
  padding: 24px;
  background-color: #fff;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_page_search input {
  width: 100%;
  border-radius: 24px;
  -webkit-box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #ddd;
  padding: 14px;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_number {
  padding: 14px 24px;
  background-color: #f4f6f8;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_number div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_number input,
.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_number select {
  width: 205px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #ddd;
  background-color: #fff;
  padding: 0 14px;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_loan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
  background-color: #fff;
  padding: 14px 24px;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_loan div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_loan input {
  width: 123px;
  padding: 10px 5px;
  border-radius: 4px;
  border: none;
  border: 1px solid #ddd;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_loan select {
  width: 205px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #ddd;
  background-color: #fff;
  padding: 0 14px;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_radio {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_radio input {
  margin-right: 10px;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_date {
  background-color: #f4f6f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_date div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_date input {
  padding: 10px 5px;
  border-radius: 4px;
  border: none;
  margin: 0 5px;
  border: 1px solid #ddd;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_date_input {
  width: 108px !important;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_footer {
  padding: 14px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 14px;
          column-gap: 14px;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_footer button {
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 14px;
  margin: 0;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_footer button:first-of-type {
  background-color: #f1f1f1;
  border: solid 1px #ddd;
}

.mainheader .collection_batch_extra .collection_batch_filter_page .collection_batch_filter_footer button:last-of-type {
  background-color: #009ec0;
  border: solid 1px #009ec0;
  color: white;
}

.collection_batch {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 18vw) auto 310px;
      grid-template-columns: minmax(200px, 18vw) auto 310px;
  border-top: 1.5px solid rgba(0, 0, 0, 0.25);
  padding: 50px 0px;
}

.collection_batch input {
  display: inline-block;
  margin-right: 24px;
}

.collection_batch .collection_batch_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.collection_batch .collection_batch_1 input {
  margin-right: 15px;
  margin-top: 5px;
}

.collection_batch .collection_batch_1 p {
  line-height: 25px;
}

.collection_batch .collection_batch_2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2vw;
  border-left: 1.5px dashed rgba(0, 0, 0, 0.25);
  border-right: 1.5px dashed rgba(0, 0, 0, 0.25);
}

.collection_batch .collection_batch_2 .collection_batch_2_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 54px;
  margin-left: 2vw;
}

.collection_batch .collection_batch_2 .collection_batch_2_1 select {
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: #505050;
}

.collection_batch .collection_batch_2 .collection_batch_2_2 {
  width: 200px;
  text-align: center;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "connected ptp" "broken paid";
  row-gap: 50px;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  margin-right: 2vw;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 div {
  opacity: .9;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 .collection_batch_2_3_common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 .collection_batch_2_3_common div {
  display: inline;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 .collection_batch_2_3_common .coloredCirle {
  margin-top: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 .collection_batch_2_3_connected {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: connected;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 .collection_batch_2_3_connected .coloredCirle {
  background-color: #359bba;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 .collection_batch_2_3_ptp {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ptp;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 .collection_batch_2_3_ptp .coloredCirle {
  background-color: #4fbdce;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 .collection_batch_2_3_broken {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: broken;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 .collection_batch_2_3_broken .coloredCirle {
  background-color: #43b3a9;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 .collection_batch_2_3_paid {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: paid;
}

.collection_batch .collection_batch_2 .collection_batch_2_3 .collection_batch_2_3_paid .coloredCirle {
  background-color: #9eeddc;
}

.collection_batch .collection_batch_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.collection_batch .collection_batch_3 label {
  display: block;
  margin-bottom: 10px;
}

.collection_batch .collection_batch_3 select {
  font-weight: 300;
  padding: 10px;
}
/*# sourceMappingURL=CollectionBatch.css.map */