.mainheader {
    margin-bottom: 24px;
    display: flex;

    svg {
        height: 20px;
        width: auto;
    }

    .mainheader_leftbtns {
        display: inline-flex;
        column-gap: 16px;
        margin: 0 18px;

        button {
            background-color: #f4f6f8;
            border: 1px solid #dddddd;
            padding: 12px;
            border-radius: 4px;
            display: inline-flex;
            align-items: center;
            column-gap: 12px;
            font-size: 15px;
        }
    }

    .mainheader_rightbtns {

        display: inline-flex;
        column-gap: 16px;
        margin-left: auto;
        margin-right: 0;

        .mainheader_rightbtns_black {
            background-color: #009ec0;
            border: 2px solid #009ec0;
            padding: 12px;
            border-radius: 4px;
            display: inline-flex;
            align-items: center;
            column-gap: 12px;
            font-size: 15px;
            font-weight: 700;
            color: #ffffff;

            option {
                background-color: #fff;
                color: black;
            }
        }


        .mainheader_rightbtns_white {
            background-color: #ffffff;
            border: 2px solid #009ec0;
            padding: 12px;
            border-radius: 4px;
            display: inline-flex;
            align-items: center;
            column-gap: 12px;
            font-size: 15px;
            font-weight: 700;
            color: #000000;
        }


    }
}