.font-12 {
  font-size: 12px;
}
.color-blue {
  color: #3644f7 !important;
}
.color-red {
  color: #e54449 !important;
}
.color-black {
  color: #000000 !important;
}
.color-green {
  color: #1a9721;
}
.b-600 {
  font-weight: 600;
}
.b-700 {
  font-weight: 700;
}
.font-14 {
  font-size: 14px;
}
.font-18 {
  font-size: 18px;
}
.form-control {
border-color: #dddddd;
}
.form-control:focus {
border-color: #3546f2 !important;
}
.ellipsis-2 {
  -webkit-line-clamp: 2;
  display: inline;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.cursor-pointer {
  cursor: pointer;
}
.max-wpx-250 {
  max-width: 250px;
}

.scrollbar-panel::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.scrollbar-panel::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ffffff;
}
 
/* Handle */
.scrollbar-panel::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar-panel::-webkit-scrollbar-thumb:hover {
  background: #888888; 
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    opacity: 0;
}
.w-56-px {
  width: 56px;
}

.barOverflow {
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 90px;
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 30px solid #eee;
  border-bottom-color: #ffb375;
  border-right-color: #ffb375;
}
.bar1 {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 50px solid #eee;
  border-bottom-color: #00c7ff;
  border-right-color: #00c7ff;
}