.page-header-inner-panel {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 15px;
    left: 268px;
    z-index: 200;
}
.page-header-name {
    font-size: 28px;
    color: #505251;
    font-weight: 600;
}
.page-header-total-result {
    font-size: 16px;
    color: #656567;
}
.main-body-container {
    margin-top: 70px;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.styled-checkbox + label:before {
    content: "";
    margin-right: 0px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid #e1e1ec;
    border-radius: 4px;
}
.styled-checkbox:hover + label:before {
    background: #3644f7;
    border-color: #3644f7;
}
.styled-checkbox:checked + label:before {
    background: #3644f7;
    border-color: #3644f7;
}
.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
.styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}
.filter-btn {
    border-color: #e1e1ec;
    background-color: #f5f6f8;
    border-width: 2px;
    font-weight: 600;
}
.filter-btn > i {
    font-size: 18px;
}
.filter-btn > span {
    color: #3644f7;
    font-size: 14px;
}
.filter-text {
    color: #656567;
}
.filter-text-no {
    color: #000000;
    font-weight: 600;
}
.download-batch-btn {
    border-color: #f7e135;
    background-color: #ffffff;
    color: #000000;
    border-width: 2px;
    font-weight: 600;
}
.upload-batch-btn {
    border-color: #f7e135;
    background-color: #f7e135;
    color: #000000;
    border-width: 2px;
    font-weight: 600;
}
.batch-inner-pane1-head {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}
.batch-inner-pane1-sub-head {
    font-size: 14px;
    color: #656567;
}
.custom-form-group .form-control {
    border-color: #e1e1ec;
    background-color: #f5f6f8;
    color: #1c1c1e;
    border-width: 2px;
    height: 40px;
    border-radius: 4px;
}
.action-dropdown .dropdown-toggle {
    position: relative;
    color: #697075;
}
.action-dropdown .dropdown-toggle::after {
    content: "\f078";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 0;
    font-size: 11px !important;
    right: 6px;
    top: 12px;
    position: absolute;
    color: #697075;
}
.action-dropdown .dropdown-menu {
    width: 100%;
    border-radius: 4px;
    margin-top: 4px;
}
.action-dropdown .dropdown-menu .dropdown-item {
    padding: 8px 14px;
    font-size: 14px;
}
.ptp-table {
    font-size: 14px;
    border-collapse: separate;
    border-spacing: 0px 0px;
    width: 100%;
}
.ptp-table thead tr th {
    font-weight: 400;
    padding: 5px 10px;
    color: #656567;
}
.ptp-table tbody td {
    border: solid 1px #e1e1ec;
    border-style: solid none;
    padding: 8px 8px;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.1;
    font-size: 14px;
    border-right: 1px solid #e1e1ec;
    color: #656567;
}
.ptp-table tbody tr:first-child td:first-child {
    border-left-style: solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0px;
}
.ptp-table tbody tr:first-child td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 8px;
}
.ptp-table tbody tr:last-child td:first-child {
    border-left-style: solid;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 8px;
}
.ptp-table tbody tr:last-child td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 0px;
}
.ptp-table tbody tr:first-child td {
    border-bottom: 0;
    background: #f5f5f5;
}
.batch-row-info {
    border-top: 2px solid #e1e1ec;
    padding-top: 20px;
    padding-bottom: 20px;
}
.batch-row-info:first-child {
    margin-top: 20px;
}
/* .upload-new-batch-modal {
    padding-left: 17px;
} */
.upload-new-batch-modal-big .modal-dialog {
    max-width: 1080px;
    width: 100%;
}
.upload-new-batch-modal .modal-header {
    background: #f5f6f8;
    border-bottom: 2px solid #e9e9ea;
    padding: 16px 24px;
}
.upload-new-batch-modal .modal-header .modal-title {
    font-size: 18px;
    font-weight: 600;
}
.upload-new-batch-modal .modal-content {
    border: 0;
    border-radius: 8px;
    overflow: hidden;
}
.upload-new-batch-modal .modal-body {
    padding: 12px 24px;
}
.upload-new-batch-modal .modal-footer {
    padding: 6px 24px;
}
.upload-new-batch-top1 {
    background: #f5f6f8;
    border: 1px solid #dee2e6;
    color: #717171;
    border-radius: 8px;
    padding: 4px;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upload-new-batch-top1-number {
    font-size: 26px;
    font-weight: 600;
}
.upload-new-batch-top1-name {
    font-size: 12px;
}
.upload-new-batch-top2 {
    width: 90px;
    height: 100px;
    position: relative;
    padding: 10px;
}
.upload-new-batch-top2::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 70px;
    background-color: #e9e9ea;
}
.upload-new-batch-top-box-blue {
    border-color: #3644f7;
    color: #3644f7;
    background-color: #ffffff;
}
.upload-new-batch-top1-complete {
    max-width: 30px;
    display: none;
}
.upload-new-batch-top-box-complete {
    border-color: #6dd400;
    color: #6dd400;
    background-color: #ffffff;
}
.upload-new-batch-top-box-complete .upload-new-batch-top1-number {
    display: none;
}
.upload-new-batch-top-box-complete .upload-new-batch-top1-complete {
    display: block;
}



.upload-new-batch-moddle-panel {
    max-width: 150px;
    margin: 20px auto 25px auto;
}
.upload-new-batch-moddle-panel img {
    width: 100%;
}
.select-excel-file-info-btn {
    position: relative;
}
.select-excel-file-info-btn input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    font-size: 0;
}
.select-excel-file-info-text {
    color: #717171;
    margin-top: 4px;
}
.modal-close-btn {
    padding: 3px 12px;
    width: 80px;
    font-size: 14px;
    color: #717171;
    background: #f5f6f8;
    border-color: #dee2e6;
}
.import-btn {
    padding: 3px 12px;
    width: 80px;
    font-size: 14px;
    color: #2e2a09;
    background: #f7e135;
    border-color: #f7e135;
    font-weight: 600;
}

.progress-bar-panel {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
}
.progress-bar-panel .progress {
    border-radius: 10px;
}
.progress-bar-panel .progress-bar {
    border-radius: 10px;
}

.upload-file-import-list {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
}
.upload-file-import-list-items {
    margin-bottom: 8px;
}
.upload-file-import-list .upload-file-import-list-items:last-child {
    margin-bottom: 0;
}
.upload-file-import-inner-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}
.upload-file-import-inner-list-items1,
.upload-file-import-inner-list-items3 {
    width: 35%;
    font-size: 14px;
}
.upload-file-import-inner-list-items2 {
    width: 10%;
    position: relative;
}
.upload-file-import-inner-list-items4 {
    width: 20%;
}
.upload-file-import-inner-list-data-box {
    border: 1px solid #dee2e6;
    padding: 6px 8px;
    border-radius: 4px;
    position: relative;
}
.upload-file-import-inner-list-data-box .bootstrap-select {
    border-radius: 4px;
}
.upload-file-import-inner-list-data-box .bootstrap-select .dropdown-toggle,
.upload-file-import-inner-list-data-box .bootstrap-select .dropdown-toggle:active,
.upload-file-import-inner-list-data-box .bootstrap-select .dropdown-toggle:focus {
    background: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    border: 0;
    color: #717171;
    outline: none !important;
    box-shadow: none !important;
}
.upload-file-import-inner-list-data-box .bootstrap-select .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.upload-file-import-inner-list-data-box .bootstrap-select .dropdown-menu .bs-searchbox input {
    padding-top: 4px;
    padding-bottom: 4px;
    height: 34px;
}
.circle-right::after,
.circle-left::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #717171;
}
.circle-right::after {
    right: -6px;
}
.circle-left::after {
    left: -6px;
}
.upload-file-import-inner-list-items2-border-0::after {
    display: none;
}
.upload-file-import-inner-list-items2::after {
    content: "";
    position: absolute;
    background: #717171;
    height: 2px;
    width: calc(100% - 14px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.upload-file-import-inner-list-data-box .bootstrap-select>.dropdown-toggle:after {
    content: "\f078";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 0;
    font-size: 12px;
}
.not-matched .circle-right::after, 
.not-matched .circle-left::after,
.not-matched .upload-file-import-inner-list-items2::after {
    background: #d8d8d8;
}

.batch-modal-body-scroll {
    height: 49vh;
    overflow: auto;
}
.batch-filter-serach {
    padding: 20px 20px;
}
.batch-filter-serach .form-control {
    border-radius: 20px;
    font-size: 14px;
    height: 40px;
    box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 15%);
    border-color: #dddddd;
}
.serach-batch-number {
    background-color: #f5f6f8;
    padding: 8px 20px;
}
.serach-batch-number-text {
    font-size: 14px;
}
.serach-batch-number-box {
    max-width: 110px;
    width: 100%;
}
.serach-batch-number-box input {
    border-radius: 4px;
    height: 40px;
}
.search-by-date-panel {
    padding: 14px 20px;
}
.search-by-date-title {
    font-size: 14px;
    padding-bottom: 2px;
}
.search-by-date-box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-by-date-box1 .custom-control .custom-control-label::before,
.search-by-date-box1 .custom-control .custom-control-label::after {
    top: 2px;
}
.search-by-date-box1 .custom-control .custom-control-input:checked~.custom-control-label::before {
    background-color: #3644f7;
    border-color: #3644f7;
}
.search-by-date-box {
    display: flex;
    width: calc(100% - 156px);
}
.search-by-date-from,
.search-by-date-to {
    position: relative;
}
.search-by-date-from input,
.search-by-date-to input,
.date-between-select .form-control {
    border-radius: 4px;
    height: 40px;
    font-size: 14px;
}
.search-by-date-from input,
.search-by-date-to input {
    padding-right: 4px;
}
.date-between-select {
    width: 100%;
}
.date-icon {
    position: absolute;
    top: 9px;
    right: 9px;
    height: 22px;
    width: 22px;
    border: 1px solid #bcbcbc;
    text-align: center;
    padding-top: 4px;
    border-radius: 0px 0px 4px 4px;
    color: #bcbcbc;
    font-size: 12px;
    pointer-events: none;
}
.date-icon:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 14px;
    background-color: #bcbcbc;
    top: 3px;
    right: 3px;
}
.search-by-date-from, .search-by-date-to {
    position: relative;
}
.search-by-date-from input[type=date], 
.search-by-date-to input[type=date] {
    width: 144px;
}




@media (max-width: 1280px) {
    .batch-toplg-small .col-lg-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 1199px) {
    .upload-new-batch-modal-big .modal-dialog {
        max-width: 950px;
    }
}

/* Accounts classes */
.bulk-action-dropdown {
    width: 100%;
    border-radius: 4px;
    margin-top: 8px;
    border: 2px solid #f7e135;
}
.bulk-action-dropdown .dropdown-item {
    padding: 6px 14px;
    font-size: 14px;
}
.filter-row-bgcolor {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
}
.filter-row-bgcolor .serach-batch-number {
    background-color: transparent;
}
.filter-row-bgcolor li:nth-child(even) {
    background-color: #f5f6f8;
}
.search-by-date-box2 {
    padding: 8px 20px;
}
.search-by-date-panel .custom-radio,
.search-by-date-box1 .custom-radio {
    font-size: 14px;
}
.issue-legal-notice-modal .modal-dialog {
    max-width: 230px;
}
.issue-legal-notice-modal .modal-dialog {
    max-width: 230px;
}
.issue-legal-notice-modal .modal-dialog .filter-row-bgcolor {
    padding: 20px;
}
.issue-legal-notice-modal .modal-dialog .filter-row-bgcolor li {
    margin-bottom: 10px;
    background-color: transparent;
}
.issue-legal-notice-modal .modal-dialog .filter-row-bgcolor li:last-child {
    margin-bottom: 0;
}
.communicate-modal-box .modal-body .nav {
    height: 100%;
    background: #f5f6f8;
    display: block;
}
.communicate-modal-box .modal-body .nav .nav-item {
    width: 100%;
}
.communicate-modal-box .modal-body .nav .nav-item .nav-link {
    border-radius: 0px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 8px 12px 8px 12px;
    color: #717171;
}
.communicate-modal-box .modal-body .nav .nav-item .nav-link.active {
    background-color: #ffffff;
    color: #000000;
}
.textarea-box-info textarea.form-control {
    border-radius: 4px;
    border-width: 2px;
    resize: none;
    height: auto;
    background-color: #ffffff;
}
.account-user-name {
    color: #3644f7;
}
.account-user-details {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.account-user-details li {
    position: relative;
    padding-bottom: 14px;
    margin-bottom: 12px;
}
.account-user-details li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 80%;
    background: #e1e1ec;
}
.account-user-details li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}
.account-user-details li:last-child::after {
    display: none;
}
.last-disposition-table {
    font-size: 14px;
    border-collapse: separate;
    border-spacing: 0px 0px;
    width: 100%;
}
.last-disposition-table th,
.last-disposition-table td {
    border-style: solid none;
    padding: 10px 10px;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.1;
    font-size: 14px;
    color: #656567;
    border: 1px solid #e1e1ec;
}
.last-disposition-table tr.th-top th {
    border-bottom: 0;
    background: #f5f5f5;
    border-left-style: solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.last-disposition-table td {
    border-bottom: 0;
    border-right: 0;
    padding: 14px 10px;
}
.last-disposition-table tr:last-child td {
    border-bottom: 1px solid #e1e1ec;
}
.last-disposition-table tr td:last-child {
    border-right: 1px solid #e1e1ec;
}
.account-view-history-box {
    border-top: 2px solid #e1e1ec;
    padding-top: 12px;
    margin-top: 12px;
    padding-left: 14px;
}
.account-view-history-box ul {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.account-view-history-box>ul>li {
    text-align: center;
    margin: 0 8px;
}
.account-view-history-box ul li:first-child {
    margin-left: 0;
}
.account-view-history-box ul li:last-child {
    margin-right: 0;
}
.account-view-history-box ul li a {
    display: block;
    
}
.max-w-for-account {
    max-width: 290px;
}
.account-view-history-box ul li .account-view-history-detail-slider {
    position: fixed !important;
    top: 0;
    right: 0;
    width: 330px;
    height: 100vh !important;
    background: white;
    z-index: 999;
    box-shadow: -2px 0 16px 0 rgb(0 0 0 / 20%);
    text-align: left;
    transition: all 0.5s !important;
    transform: translateX(110%) !important;
    display: block;
}
.account-view-history-box ul li .account-view-history-detail-slider.show {
    transform: translateX(0%) !important;
}
.account-slide-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 12px;
}
.account-slide-body {
    overflow: auto;
    max-height: calc(100vh - 88px);
    padding: 0 12px;
    margin: 16px 0 !important;
}
.account-slide-body .account-slide-body-inner:first-child .account-call-record-time-box {
    margin-top: 0;
}
.account-call-record-time-box {
    position: relative;
    margin: 18px 0;
}
.account-call-record-time-box::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 49%;
    width: 100%;
    height: 1px;
    background-color: #e3e3e3;
}
.call-record-time {
    background-color: #ffffff;
    font-size: 14px;
    color: #000000;
    padding-right: 16px;
    position: relative;
    z-index: 1;
}
.account-view-history-box .call-record-audio-box>li {
    display: flex;
    align-items: center;
    margin: 0px 0 12px 0;
}
.account-view-history-box .call-record-audio-box>li:last-child {
    margin-bottom: 0;
}
.call-record-audio-box-icon img {
    cursor: pointer;
}
.call-record-audio {
    width: calc(100% - 46px);
    margin-left: 8px;
    position: relative;
    padding-bottom: 18px;
}
.call-record-audio>img {
    width: 100%;
}
.audio-start-time {
    position: absolute;
    left: 0;
    bottom: 0;
}
.audio-end-time {
    position: absolute;
    right: 0;
    bottom: 0;
}
.audio-current-time {
    position: absolute;
    height: calc(100% - 20px);
    width: 1px;
    bottom: 20px;
    border-left: 1px dashed #b90e0e;
}
.sms-container {
    background-color: #f5f6f8;
    color: #656567;
    padding: 14px;
    border-top-left-radius: 26px;
    text-align: left;
    position: relative;
}
.sms-container::after {
    content: "";
    position: absolute;
    bottom: -11px;
    right: 12px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #f5f6f8;
}
.sms-user-info {
    margin-top: 12px;
}
.sms-user-info img {
    border-radius: 50%;
    margin-right: 8px;
}
.account-view-history-box .remarks-accordion > li {
    display: block;
    border: 0;
    border-bottom: 2px solid #e3e3e3;
    border-radius: 0px;
    padding-bottom: 12px;
}
.account-view-history-box .remarks-accordion > li .card-header {
    border-bottom: 0;
    padding: 0;
    background-color: #ffffff;
}
.account-view-history-box .remarks-accordion > li .card-body {
    padding: 0;
}
.account-view-history-box .remarks-accordion > li .card-header .card-link {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.account-view-history-box .remarks-accordion > li .card-header .card-link>span {
    width: calc(100% - 14px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.account-view-history-box .remarks-accordion > li .card-header .card-link>.fa {
    transition: all 0.3s;
}
.account-view-history-box .remarks-accordion > li .card-header .card-link[aria-expanded="true"]>.fa {
    transform: rotate(90deg);
}
.account-view-history-box .remarks-accordion > li .remarks-accordion-data {
    height: 58px;
    min-height: 58px;
    overflow: hidden;
    display: block;
}
.account-view-history-box .remarks-accordion > li .remarks-accordion-data.show {
    overflow: unset;
    height: auto;
}
.account-view-history-box .remarks-accordion > li:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.email-user-name-box {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.email-user-name-icon {
    height: 34px;
    width: 34px;
    background: #505050;
    font-size: 18px;
    color: #ffffff;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
}
.email-user-name-date {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    color: #656567;
    margin-left: 8px;
}
.email-user-header {
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.email-user-text {
    margin-bottom: 8px;
    color: #656567;
}
.bg-red-200 {
    background: #e55756;
}
.bg-blue-200 {
    background: #56e0c2;
}





.whatsApp-container {
    background-color: #f5f6f8;
    color: #656567;
    padding: 14px;
    border-radius: 26px;
    
    text-align: left;
}
.whatsApp-user-info img {
    margin-right: 0;
    margin-left: 4px;
    border-radius: 50%;
}
.other-message,
.my-message {
    width: 93%;
    display: flex;
}
.other-message {
    margin-left: auto !important;
    align-items: flex-start !important;
    justify-content: flex-end;
}
.other-message .whatsApp-container {
    background-color: #dff9ca;
    border-top-right-radius: 0;
}
.my-message {
    margin-right: auto !important;
    justify-content: flex-start;
}
.my-message .whatsApp-container {
    border-top-left-radius: 0;
}
.my-message .whatsApp-chat-image,
.other-message .whatsApp-chat-image {
    border-radius: 26px;
    border-top-left-radius: 0;
    overflow: hidden;
    box-shadow: inset 0 0 2px 0 rgb(0 0 0 / 22%), inset 0 -6px 6px 0 rgb(0 0 0 / 20%);
}
.my-message .whatsApp-chat-image > img,
.other-message .whatsApp-chat-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.email-collaps-show .email-user-name-date {
    display: flex;
    width: calc(100% - 40px);
    justify-content: space-between;
    margin-bottom: 20px;
}
.email-collaps-show .email-user-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 43px;
    margin-top: -32px;
    pointer-events: none;
}
.account-view-history-box .remarks-accordion > .hide-more-email {
    border-bottom: 0;
    padding: 10px;
    position: relative;
    font-size: 14px;
}
.hide-more-email::after,
.hide-more-email::before {
    content: "";
    position: absolute;
    width: 315px;
    height: 1px;
    left: -12px;
    background-color: #e3e3e3;
}
.hide-more-email::before {
    top: 4px;
}
.hide-more-email::after {
    bottom: 4px;
}
.hide-more-email-count {
    position: absolute;
    left: 0;
    top: -8px;
    height: 34px;
    width: 34px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    background: #ffffff;
    z-index: 1;
    cursor: pointer;
}
.account-view-history-box .remarks-accordion > li.if-counter-present {
    border-bottom: 0;
    margin-bottom: 0;
}
.account-view-history-box-outer {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
    padding-left: 0;
}





@media (max-width: 1199px) {
    .account-view-history-box>ul>li {
        margin: 0px 4px;
    }
    .account-view-history-box {
        padding-left: 0;
    }
}


/* Daily report classes */
.dr-report-table tbody tr td {
    border-bottom: 0;
}
.dr-report-table tbody tr:last-child td {
    border-bottom: solid 1px #e1e1ec;
}
.dr-report-table tbody tr td:first-child {
    border-left: solid 1px #e1e1ec;
}
.dr-report-table tbody tr:nth-child(odd) td {
    background-color: #f5f5f5;
}
.daily-report-filter-top,
.daily-report-filter-two,
.daily-report-filter-three {
    padding: 20px 20px;
}
.daily-report-filter-three {
    display: flex;
    align-items: center;
}
.daily-report-filter-three .search-by-date-box {
    width: 200px;
}

/* Legal Notices */
.legal-notices-table {
    max-width: 100%;
}

/*  Pre-Litigation batch */

.col-xs-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.mode-communication-box ul li {
    margin-bottom: 14px;
}
.mode-communication-box ul li:last-child {
    margin-bottom: 0px;
}
.saving-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
}
.pl-batch-main-file {
    display: flex;
}
.pl-batch-main-file .nav {
    width: 220px;
    background: #f5f6f8;
}
.pl-batch-main-file .tab-content {
    width: calc(100% - 220px);
    padding-left: 16px;
    padding-right: 24px;
    padding-top: 10px;
}
.pl-batch-main-file .nav-pills .nav-link {
    color: #505050;
    font-size: 14px;
    font-weight: 600;
}
.pl-batch-main-file .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #505050;
    background-color: #ffffff;
    border-radius: 0;
}
.edit-button-box,
.edit-button-box:hover {
    color: #3546f2;
    background-color: #ffffff;
    border-color: #3546f2;
    padding: 3px 8px;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.download-btn {
    border-color: #fbe201;
    background-color: #ffffff;
}
.w-px-100 {
    width: 100px;
}
.w-px-130 {
    width: 130px;
}