.account_extra {
    position: fixed;
    position: 1;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #fff;
    padding: 25px 15px;
    width: 345px;
    transition: transform .4s ease-in-out;


    h4 {
        font-size: 18px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .account_extra_date {
        margin: 15px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        p {
            display: inline-block;
        }

        hr {
            display: inline-block;
            width: 65%;
            border: 1px solid #dddddd;
        }
    }
}

.account_extra_call {
    .account_extra_call_audio {
        margin: 30px 0px;
        display: flex;
        column-gap: 15px;

        .account_extra_call_audio_div {
            font-size: 12px;

            &::before {
                content: "00:00";
                position: absolute;
                margin-top: 15px;
                transform: translateY(150%);
            }

            &::after {
                content: "02:00";
                position: absolute;
                margin-top: 15px;
                transform: translate(-100%, 150%);
            }
        }
    }
}

.account_extra_sms {
    .account_extra_sms_text {
        background-color: #f4f6f8;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 25px 0 0 0;
    }
}