.account_extra {
  position: fixed;
  position: 1;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #fff;
  padding: 25px 15px;
  width: 345px;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.account_extra h4 {
  font-size: 18px;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.account_extra .account_extra_date {
  margin: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.account_extra .account_extra_date p {
  display: inline-block;
}

.account_extra .account_extra_date hr {
  display: inline-block;
  width: 65%;
  border: 1px solid #dddddd;
}

.account_extra_call .account_extra_call_audio {
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.account_extra_call .account_extra_call_audio .account_extra_call_audio_div {
  font-size: 12px;
}

.account_extra_call .account_extra_call_audio .account_extra_call_audio_div::before {
  content: "00:00";
  position: absolute;
  margin-top: 15px;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.account_extra_call .account_extra_call_audio .account_extra_call_audio_div::after {
  content: "02:00";
  position: absolute;
  margin-top: 15px;
  -webkit-transform: translate(-100%, 150%);
          transform: translate(-100%, 150%);
}

.account_extra_sms .account_extra_sms_text {
  background-color: #f4f6f8;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 25px 0 0 0;
}
/*# sourceMappingURL=AccountExtra.css.map */