header {
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
      grid-template-areas: 'headerlogo headermain';
}

header img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: headerlogo;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

header svg {
  height: 30px;
  width: auto;
}

header .header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: headermain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

header .header .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  color: #505050;
}

header .header .header_left h1 {
  font-size: 30px;
  font-weight: 600;
}

header .header .header_left p {
  padding-top: 10px;
}

header .header .header_left svg {
  fill: #a0a9bd;
}

header .header .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

header .header .header_right svg {
  fill: #969c99;
}
/*# sourceMappingURL=Header.css.map */