header {
    grid-area: header;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: 'headerlogo headermain';

    img {
        grid-area: headerlogo;
        width: 100%;
        object-fit: contain;
        margin: auto;
    }

    svg {
        height: 30px;
        width: auto;
    }

    .header {
        grid-area: headermain;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;

        .header_left {
            display: flex;
            align-items: center;
            column-gap: 15px;
            color: #505050;

            h1 {
                font-size: 30px;

                font-weight: 600;
            }

            p {
                padding-top: 10px;
            }

            svg {
                fill: #a0a9bd
            }

        }

        .header_right {
            display: flex;
            column-gap: 35px;

            svg {
                fill: #969c99
            }


        }

    }
}